/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #859fb9af;
    color: white;
    padding: 2px;
    text-align: center;
}

header h1 {
    margin: 0;
}
.logo img {
  
    transition: transform 0.3s ease; 
  }
  
  .logo img:hover {
    transform: scale(1.5); 
  }
  
nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Estilos de la sección de servicios */
#servicios-tecnologicos {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#servicios-tecnologicos h2 {
    color: #2c3e50;
}

#servicios-tecnologicos h3 {
    color: #34495e;
    margin-top: 20px;
}

.servicios-lista {
    list-style-type: none;
    padding: 0;
}

.servicios-lista li {
    background-color: #ecf0f1;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.servicios-lista li:hover {
    background-color: #d5dbdb;
}

.detalle-servicio {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-left: 4px solid #3498db;
}

/* Estilos del enlace de correo */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos del footer */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer h2 {
    margin: 0;
}

footer p {
    margin: 5px 0;
}